footer
  width: 100vw
  display: flex
  justify-content: center
  position: relative
  margin-top: 20px
  z-index: 9

div
  height: 60px
  background-color: #319CFF
  color: white
  width: 100%
  max-width: 940px
  display: flex
  align-items: center
  justify-content: center
