*
  padding: 0
  margin: 0
  box-sizing: border-box

ul
  list-style: none

header
  width: 100vw
  display: flex
  justify-content: center
  position: fixed
  top: 20px
  z-index: 10

nav
  height: 60px
  background-color: #319CFF
  width: 100%
  max-width: 940px
  z-index: 1000
  display: flex
  justify-content: center

.container
  max-width: 940px
  min-height: 100%
  height: auto
  padding: 0 1.9rem
  margin: 0 auto
  display: flex
  position: relative

.nav-btn
  flex: 3
  display: flex


.log-sign
  display: flex
  justify-content: center
  align-items: center
  flex: 1.2

  .user
    margin-right: 10px

  .cart
    text-decoration: none
    display: flex
    margin-right: 10px
    color: white

    span
      font-size: 12px

    .count
      min-width: 20px
      width: fit-content
      height: 15px
      padding: 2px

.nav-links
  flex: 2

.active
  text-decoration: underline

.nav-links > ul
  display: flex
  align-items: center
  min-height: 100%
  height: auto

.nav-link
  position: relative

.hamburger-menu-container
  flex: 1
  display: none
  align-items: center
  justify-content: flex-end

.hamburger-menu
  width: 2.5rem
  height: 2.5rem
  display: flex
  align-items: center
  justify-content: flex-end

  div
    width: 1.6rem
    height: 3px
    border-radius: 3px
    background-color: #fff
    position: relative
    z-index: 1001
    transition: .5s

    &::after,
    &::before
      content: ''
      position: absolute
      width: inherit
      height: inherit
      background-color: #fff
      border-radius: 3px
      transition: .5s

    &:before
      transform: translateY(-7px)

    &:after
      transform: translateY(7px)

#check
  position: absolute
  top: 50%
  right: 1.5rem
  transform: translateY(-50%)
  width: 2.5rem
  height: 2.5rem
  z-index: 90000
  cursor: pointer
  opacity: 0
  display: none

  &:checked ~ .hamburger-menu-container .hamburger-menu div
    background-color: transparent

  &:checked ~ .hamburger-menu-container .hamburger-menu div:before
    transform: translateY(0) rotate(-45deg)

  &:checked ~ .hamburger-menu-container .hamburger-menu div:after
    transform: translateY(0) rotate(45deg)

@keyframes animation
  from
    opacity: 0
    transform: translateY(15px)

  to
    opacity: 1
    transform: translateY(0px)

@media (max-width: 920px)
  header
    top: 0

  .hamburger-menu-container
    display: flex

  #check
    display: block

  .nav-btn
    position: fixed
    min-height: 0
    height: auto
    top: 60px
    left: 0
    bottom: 0
    width: 100%
    background-color: #69bde7
    flex-direction: column
    align-items: center
    justify-content: space-between
    overflow-x: hidden
    overflow-y: auto
    transform: translateX(100%)
    transition: .65s
    z-index: 9

  #check
    &:checked ~ .nav-btn
      transform: translateX(0)

    &:checked ~ .nav-btn .nav-link,
    &:checked ~ .nav-btn .log-sign
      animation: animation .5s ease forwards var(--i)

  .nav-links
    flex: initial
    width: 100%
    height: auto

    ul
      flex-direction: column
      height: auto

  .nav-link
    width: 100%
    opacity: 0
    transform: translateY(15px)

  .log-sign
    flex: initial
    width: 100%
    padding: 1.5rem 1.9rem
    justify-content: center
    align-items: center
    opacity: 0
    transform: translateY(15px)
    margin-bottom: 50px
